@import "../../fonts";
@import "../../common";
@import "../../header-site";
@import "../../banner";
@import "../../box";
@import "../../footer-site";
@import "../../table";
@import "../../button";
@import "../../html-editor";
@import "../../upload";


#form-contato {
  &, & ~ div {
    float: left;
    width: 50%;
    min-height: 650px;
    box-sizing: border-box;
  }
  & ~ div {
    padding: 2em;
    ul {
      list-style: none;
      padding-left: 0;
      li {
        margin-bottom: 1em;
        float: left;
        width: 30%;
        box-sizing: border-box;
        padding-right: 5%;
        &:nth-of-type(2) {
          width: 40%;
        }
        p {
          margin: 0;
          line-height: 1.5em;
        }
      }
    }
  }
}

form {

  width: 100%;

  float: left;

  margin: 2em 0;

  .form-group,

  .btn-group {

    margin: .5em 0;

    width: 100%;

    float: left;

  }

  .form-group {

    label,

    input,

    textarea {

      float: left;

      width: 100%;

    }

    label {

      width: 100%;

      margin-bottom: .35em;

    }

    input{

      border: 1px solid;

      padding: .5em !important;

      box-sizing: border-box;

      font-size: 16px;

      &:focus {

        outline: none;

      }

    }

  }

  .btn-group {

    .btn {

      float: right;

      margin-left: 10px;

    }

  }

}

textarea#content {

  width: 100%;

  border: 1px solid;

  padding: .5em !important;

  box-sizing: border-box;

  font-size: 16px;

  min-height: 5em;

  resize: none;

  &:focus {

    outline: none;

  }

}
