<meta charset="UTF-8">
<title>Isdralit<%= (path == 'admin') ? ' - CMS' : '' %></title>
<link rel="stylesheet" type="text/css" href="/styles/css/<%= path %>/<%= name %>.css"/>
<link rel="stylesheet" type="text/css" href="/styles/css/spinner/9-cube-grid.css"/>
<link rel="stylesheet" type="text/css" href="/styles/css/bootstrap/bootstrap.css"/>