<!DOCTYPE html>
<html>
<head lang="pt-BR">
    <% include ../partials/head %>
</head>
<body class="<%= path %>">

<% include ../partials/header %>

<div class="content container-fluid">
    <div class="row">
        <div class="col-sm-5">
            <form>
                <div class="form-group">
                    <label for="name">Nome</label>
                    <input id="name" type="text" class="form-control"/>
                </div>

                <div class="btn-group">
                    <button type="button" class="btn button">Salvar</button>
                    <button type="button" class="btn button">Limpar</button>
                    <button type="button" class="btn button">Remover</button>
                </div>
            </form>
        </div>

        <div class="col-sm-7">
            <table class="table">
                <thead>
                <tr data-bind="foreach: { data: headers, as: 'header' }">
                    <th data-bind="html: header"></th>
                </tr>
                </thead>

                <tbody data-bind="foreach: { data: rows, as: 'rowValues' }">
                <tr data-bind="foreach: { data: rowValues, as: 'value' }">
                    <td data-bind="html: value"></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<% include ../partials/footer %>

</body>
</html>