<div class="footer">
    <div class="nav-bar">
        <div class="content">
            <div class="menu">
                <div class="title">
                    <span>Navegue</span>
                </div>

                <div data-bind="foreach: menus">
                    <div class="link" data-bind="text: name, click: $root.openUrl"></div>
                </div>
            </div>

            <div class="certified">
                <div class="title">
                    <span>Prêmios</span>
                </div>

                <div class="stamps"></div>
            </div>
        </div>
    </div>

    <div class="bottom-bar">
        <div class="content">
            <div class="logo"></div>

            <div class="linkedin"><a href="https://www.linkedin.com/company/grupo-isdra" target="_blank;"><img src="/images/linkedin_isdralit.png" width="100px;" > </a> </div>

            <div class="info">
                Isdralit Indústria e Comércio<br>
                Rua da Praia Shopping - R. dos Andradas, 1001, CEP 90020-015<br>
                Centro, Porto Alegre - RS
            </div>
        </div>
    </div>
</div>

<% include ../../common/partials/variables %>
<% include ../../common/partials/script %>