
<form >
    <!-- ko foreach: { data: fields, as: 'field' } -->
    <!-- ko if: !field.isFormHidden -->
    <div class="form-group">
        <label data-bind="html: field.label, attr: { for: field.name }"  >Nome</label>

        <!-- ko if: field.type == 'text' -->
        <input type="text" class="form-control" data-bind="value: field.value, attr: { id: field.name,name: field.name}"  >
        <!-- /ko -->

        <!-- ko if: field.type == 'combo-box' -->
        <select class="form-control" data-bind="options: field.options, optionsText: 'optionText', optionsCaption: 'Selecione...', value: field.value, attr: { id: field.name }"></select>
        <!-- /ko -->
        <!-- ko if: field.type == 'combo-box2' -->
        <div class="form-group select">

        <select class="form-control" data-bind=" value: field.value, attr: { id: field.name }">
            <option value="0">Escolha seu estado</option>
            <option value="RS">RS</option>
            <option value="AC">AC</option>
            <option value="AL">AL</option>
            <option value="AP">AP</option>
            <option value="AM">AM</option>
            <option value="BA">BA</option>
            <option value="CE">CE</option>
            <option value="DF">DF</option>
            <option value="ES">ES</option>
            <option value="GO">GO</option>
            <option value="MA">MA</option>
            <option value="MT">MT</option>
            <option value="MS">MS</option>
            <option value="MG">MG</option>
            <option value="PA">PA</option>
            <option value="PB">PB</option>
            <option value="PR">PR</option>
            <option value="PE">PE</option>
            <option value="PI">PI</option>
            <option value="RJ">RJ</option>
            <option value="RN">RN</option>
            <option value="RO">RO</option>
            <option value="RR">RR</option>
            <option value="SC">SC</option>
            <option value="SP">SP</option>
            <option value="SE">SE</option>
            <option value="TO">TO</option>

        </select>
        </div>
        <!-- /ko -->

        <!-- ko if: field.type == 'text-area' -->
        <textarea class="form-control" data-bind="value: field.value, attr: { id: field.name }" ></textarea>
        <!-- /ko -->

        <!-- ko if: field.type == 'html-editor' -->
        <textarea data-bind="value: field.value, attr: { id: field.name }"></textarea>
        <!-- /ko -->

        <!-- ko if: field.type == 'upload' -->
        <div data-bind="value: field.value, attr: { id: field.name }">
            <div class="uk-placeholder">
                <div class="uk-alert">
                    <i data-bind="click: $root.clearValue(field)" class="uk-alert-close uk-close"></i>
                    <p data-bind="html: $root.renderHtml(field)"></p>
                </div>
                <i class="uk-icon-cloud-upload uk-icon-medium uk-text-muted uk-margin-small-right"></i>
                Arraste e solte um arquivo ou <a class="uk-form-file">selecione<input type="file"></a>.
            </div>

            <div class="uk-progress uk-hidden">
                <div class="uk-progress-bar" style="width: 0%;"></div>
            </div>
        </div>
        <!-- /ko -->

        <!-- ko if: field.type == 'number' -->
        <input type="text" class="form-control" data-bind="value: field.value, attr: { id: field.name }">
        <!-- /ko -->
        <!-- ko if: field.type == 'text_date' -->
        <input type="text" class="form-control" data-bind="value: moment(field.value).format('L'), attr: { id: field.name }">
        <!-- /ko -->
    </div>
    <!-- /ko -->
    <!-- /ko -->

    <div class="btn-group">
        <button type="submit" class="btn button" data-bind="click: save">Enviar</button>
        <button type="button" class="btn button" data-bind="click: clear, text: clearTitle"></button>
        <!--<button type="button" class="btn button" data-bind="click: remove, enable: selectedId">Remover</button>-->
    </div>
</form>