<div class="header">
    <div class="content">
        <div class="logo"></div>

        <div class="menu" data-bind="foreach: menus">
            <div class="title link" data-bind="text: name, click: $root.openUrl"></div>
        </div>
    </div>
</div>

<div class="spinner">
    <div>
        <div class="sk-spinner sk-spinner-cube-grid">
            <div class="sk-cube"></div>
            <div class="sk-cube"></div>
            <div class="sk-cube"></div>
            <div class="sk-cube"></div>
            <div class="sk-cube"></div>
            <div class="sk-cube"></div>
            <div class="sk-cube"></div>
            <div class="sk-cube"></div>
            <div class="sk-cube"></div>
        </div>
    </div>
</div>