<div class="header">
    <div class="content">
        <a href="/" class="logo"></a>

        <div class="menu" data-bind="foreach: menus">
            <div class="title link" data-bind="text: name, click: $root.openUrl"></div>
        </div>
    </div>
</div>

<% include spinner %>