<!DOCTYPE html>
<html>
<head lang="pt-BR">
    <% include ../partials/head %>
</head>
<body>

<% include ../partials/header %>

<div class="content">

    <!-- ko foreach: banners -->
    <div class="banner" data-bind="style: { backgroundImage: backgroundImage }">
        <div class="arrow"></div>

        <div class="detail" data-bind="html: detailHtml"></div>

        <div class="button">
            <span>Conheça nossos produtos</span>

            <div class="play"></div>
        </div>

        <div class="arrow"></div>
    </div>
    <!-- /ko -->

    <div class="box">
        <div class="product">
            <div>
                <div class="background" style="background-image: url('/images/water-tanks.jpg');"></div>
                <div class="description">
                    <div class="title">
                        Caixas<br>
                        de água
                    </div>
                </div>
            </div>

            <div>
                <div class="background" style="background-image: url('/images/pvc-finishing-work.jpg');"></div>
                <div class="description">
                    <div class="title">
                        Acabamentos<br>
                        em PVC
                    </div>
                </div>
            </div>

            <div>
                <div class="background" style="background-image: url('/images/roof-tiles.jpg');"></div>
                <div class="description">
                    <div class="title">
                        Coberturas
                    </div>
                </div>
            </div>

            <div>
                <div class="background" style="background-image: url('/images/pipes-fittings.jpg');"></div>
                <div class="description">
                    <div class="title">
                        Tubos<br>
                        e conexões
                    </div>
                </div>
            </div>
        </div>

        <div class="info">
            <div>
                <div class="background" style="background-image: url('/images/contact.jpg');"></div>
                <div class="description">
                    <div class="title">
                        Fale Conosco
                    </div>

                    <div class="detail">
                        Para saber onde encontrar os produtos Isdralit e outras informações, fale com a nossa equipe.
                    </div>
                </div>
            </div>

            <div>
                <div class="background" style="background-image: url('/images/about.jpg');"></div>
                <div class="description">
                    <div class="title">
                        Conheça a Isdralit
                    </div>

                    <div class="detail">
                        Com mais de 60 anos no mercado...
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<% include ../partials/footer %>

</body>
</html>