<!DOCTYPE html>
<html>
<head lang="pt-BR">
    <% include ../partials/head %>
</head>
<body>

<% include ../partials/header %>

<div class="content">

    <!-- ko foreach: banners -->
    <div class="banner" data-bind="style: { backgroundImage: backgroundImage }, click: $parent.openUrl">
        <div class="arrow"></div>

        <div class="detail" data-bind="html: detailHtml"></div>

        <div class="button">
            <span>Conheça nossos produtos</span>

            <div class="play"></div>
        </div>

        <div class="arrow"></div>
    </div>
    <!-- /ko -->

    <div class="box">
        <div class="product" data-bind="foreach: products">
            <div data-bind="click: $parent.openUrl">
                <div class="background" data-bind="style: { backgroundImage: backgroundImage }"></div>
                <div class="description">
                    <div class="title" data-bind="html: titleHtml"></div>
                </div>
            </div>
        </div>

        <div class="info" data-bind="foreach: informations">
            <div data-bind="click: $parent.openUrl">
                <div class="background" data-bind="style: { backgroundImage: backgroundImage }"></div>
                <div class="description">
                    <div class="title" data-bind="html: titleHtml"></div>
                    <div class="detail" data-bind="html: detailHtml"></div>
                </div>
            </div>
        </div>
    </div>
</div>

<% include ../partials/footer %>

</body>
</html>