<!DOCTYPE html>
<html>
<head lang="pt-BR">
    <% include ../partials/head %>
</head>
<body>

<% include ../partials/header %>

<!-- ko foreach: { data: products, as: 'product' } -->
<div class="content" data-bind="foreach: { data: items, as: 'item' }">
    <div class="section">
        <div class="product-grid">
            <div class="gallery">
                <div class="photo">
                    <div data-bind="style: { backgroundImage: $root.selectedPhoto }"></div>
                </div>

                <div class="thumbs" data-bind="foreach: { data: images, as: 'image' }">
                    <div class="photo" data-bind="click: $root.selectPhoto, css: { active: image.normal == $root.selectedPhoto() }">
                        <div data-bind="style: { backgroundImage: image.small }"></div>
                    </div>
                </div>
            </div>

            <div class="info">
                <div class="title" data-bind="html: item.titleHtml"></div>
                <div class="detail" data-bind="html: item.detailHtml"></div>
            </div>
        </div>

        <div class="tab-bar">
            <menu class="tabber-menu">
                <a href="#tab-1" class="tabber-handle">Medidas</a>
                <a href="#tab-2" class="tabber-handle">Informações Técnicas</a>
            </menu>

            <div class="tabber-tab" id="tab-1">
                <table class="table">
                    <thead>
                    <tr>
                        <th>Comprimento (m)</th>
                        <th>Peso (kg)</th>
                        <th>Largura Útil (mm)</th>
                        <th>Espessura (mm)</th>
                    </tr>
                    </thead>

                    <tbody>
                    <tr>
                        <td>0,91</td>
                        <td>3,30</td>
                        <td>450</td>
                        <td>4</td>
                    </tr>
                    <tr>
                        <td>1,22</td>
                        <td>4,50</td>
                        <td>450</td>
                        <td>4</td>
                    </tr>
                    <tr>
                        <td>1,53</td>
                        <td>5,60</td>
                        <td>450</td>
                        <td>4</td>
                    </tr>
                    <tr>
                        <td>1,83</td>
                        <td>6,70</td>
                        <td>450</td>
                        <td>4</td>
                    </tr>
                    <tr>
                        <td>2,13</td>
                        <td>7,80</td>
                        <td>450</td>
                        <td>4</td>
                    </tr>
                    <tr>
                        <td>2,44</td>
                        <td>9,00</td>
                        <td>450</td>
                        <td>4</td>
                    </tr>
                    </tbody>
                </table>
            </div>

            <div class="tabber-tab" id="tab-2">
                <div class="info-box">
                    <div>
                        <div class="title">
                            Inclinação
                        </div>

                        <div class="detail">
                            Recomenda-se utilizar uma inclinação mínima de 15° ou 26,8%.<br>
                            Inclinações menores, recomendamos consultar nosso departamento técnico.
                        </div>
                    </div>
                </div>

                <div class="info-box">
                    <div>
                        <div class="title">
                            Recobrimento Longitudinal
                        </div>

                        <div class="detail">
                            É o traspasse das telhas no sentido longitudinal, sentido da inclinação do telhado.<br>
                            Utilize um recobrimento mínimo de 14cm.
                        </div>
                    </div>
                </div>

                <div class="info-box">
                    <div>
                        <div class="title">
                            Recobrimento Lateral
                        </div>

                        <div class="detail">
                            É o remonte das telhas no sentido de sua largura.<br>
                            Recomenda-se utilizar um recobrimento lateral de no mínimo uma onda (56 mm), conforme
                            ilustração.
                        </div>
                    </div>
                </div>

                <div class="info-box">
                    <div>
                        <div class="title">
                            Beiral
                        </div>

                        <div class="detail">
                            Para obter maior proteção e segurança, coloque as telhas com um beiral com comprimento
                            máximo de
                            14 cm, conforme ilustração.
                        </div>
                    </div>
                </div>

                <div class="info-box">
                    <div>
                        <div class="title">
                            Apoio
                        </div>

                        <div class="detail">
                            Recomendamos utilizar um apoio de no mínimo 4 cm de largura, conforme ilustração.
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="title separator">
            <span>Veja também</span>
        </div>
    </div>
</div>
<!-- /ko -->

<% include ../partials/footer %>

</body>
</html>