<!DOCTYPE html>
<html>
<head lang="pt-BR">
    <% include ../partials/head %>
</head>
<body>

<% include ../partials/header %>

<div class="content">
    <!-- ko foreach: { data: products, as: 'product' } -->
    <div class="product-box" data-bind="foreach: { data: items, as: 'item' }">
        <div data-bind="click: $root.openProduct">
            <div class="description">
                <div class="title" data-bind="html: item.titleHtml"></div>
            </div>
        </div>
    </div>
    <!-- /ko -->
</div>

<% include ../partials/footer %>

</body>
</html>