<!DOCTYPE html>
<html>
<head lang="pt-BR">
    <% include ../partials/head %>
</head>
<body>

<% include ../partials/header %>

<div class="content">
    <div class="product-box" data-bind="foreach: products">
        <div data-bind="click: $parent.openProduct">
            <div class="background" data-bind="style: { backgroundImage: backgroundImage }"></div>
            <div class="description">
                <div class="title" data-bind="html: titleHtml"></div>
            </div>
        </div>
    </div>
</div>

<% include ../partials/footer %>

</body>
</html>