@import "variables";
@import "functions";

.banner {
  height: 378px;
  cursor: pointer;
  .arrow {
    float: right;
    width: 34px;
    height: 50px;
    margin: 164px 34px;
    background-image: url('/images/arrow.png');
    opacity: 0.8;
    &:hover {
      opacity: 1;
    }
    &:first-child {
      float: left;
      @include rotate(180);
    }
  }
  .detail {
    float: left;
    margin-top: 38px;
    margin-left: 30px;
    font-family: OpenSans-CondensedBold;
    font-size: 43px;
    color: $clear-color;
    text-shadow: $default-text-shadow;
  }
  .button {
    position: absolute;
    margin-top: 306px;
    margin-left: 131px;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid $clear-color;
    &:hover {
      background-color: $transparent-black-color;
    }
    > span {
      font-family: PTSans-Regular;
      font-size: 16px;
      color: $clear-color;
      text-shadow: $default-text-shadow;
    }
    .play {
      float: right;
      width: 19px;
      height: 19px;
      margin-left: 10px;
      background-image: url('/images/play.png');
    }
  }
}