@import "variables";
@import "functions";

.banner {
  cursor: pointer;
  ul {
    margin: 0;
    padding: 0;
    z-index: -1;
    list-style: none;
    li {
      float: left;
      height: 378px;
      .detail {
        position: absolute;
        margin-top: 38px;
        margin-left: 132px;
        font-family: OpenSans-CondensedBold;
        font-size: 43px;
        color: $clear-color;
        text-shadow: $default-text-shadow;
      }
    }
  }
  .arrow {
    position: absolute;
    width: 34px;
    height: 50px;
    margin-top: 164px;
    background-image: url('/images/arrow.png');
    opacity: 0.8;
    &:hover {
      opacity: 1;
    }
    &.previous {
      margin-left: 34px;
      @include transform(rotate(180deg));
    }
    &.next {
      margin-left: 1132px;
    }
  }
  .button {
    position: absolute;
    margin-top: 306px;
    margin-left: 131px;
    padding: 10px;
    border: 1px solid $clear-color;
    @include border-radius(10px);
    &:hover {
      background-color: $transparent-black-color;
    }
    > span {
      font-family: PTSans-Regular;
      font-size: 16px;
      color: $clear-color;
      text-shadow: $default-text-shadow;
    }
    .play {
      float: right;
      width: 19px;
      height: 19px;
      margin-left: 10px;
      background-image: url('/images/play.png');
    }
  }
}