@import "variables";
@import "functions";
@import "separator";
@import "spinner";

html, body {
  height: 100%;
}

body {
  position: relative;
  margin: 0;
  padding: 0;
  font-family: PTSans-Regular;
  font-size: 16px;
  background-color: $background-color;
  &.admin {
    padding-top: 70px;
    @media (max-width: $screen-mobile-max-width) {
      padding-top: 0px;
    }
  }
  > .content {
    display: none;
  }
}

.content {
  position: relative;
}

//.site > .content,
.admin > .content {
  min-height: 100%;
  margin-bottom: -300px;
  &:after {
    content: "";
    display: block;
    height: 300px;
  }
}

.site .content,
.admin .content {
  width: 1200px;
  margin: 0 auto;
}

.container {
  border: 1px solid $light-gray-border-color;
  background-color: $clear-color;
  > div {
    margin: 5px;
    background-color: $light-gray-color;
  }
}

label, .title {
  font-family: OpenSans-CondensedBold;
  color: $title-color;
}

.title {
  font-size: 22px;
}

.link {
  color: $title-color;
  cursor: pointer;
  &:hover {
    color: lighten($title-color, 15%);
  }
}

.absolute-row {
  position: absolute;
  display: block;
  content: '';
  width: 100%;
}

.uk-modal {
  z-index: 1040;
}