@import "variables";

.contact {
  .footer {
    .nav-bar {
      .menu,
      .certified {
        padding-top: 5px;
      }
      > div {
        .title {
          padding-bottom: 6px !important;
        }
      }
    }
  }
}

.footer-column {
  float: left;
  width: 369px;
  padding-right: 100px;
  margin-top: 12px;
  &:first-child {
    margin-left: 131px;
  }
  .title {
    > span {
      border-bottom: 2px solid $main-color;
    }
    margin-bottom: 20px;
    padding-bottom: 1px;
    border-bottom: 1px solid $highlighted-gray-color;
  }
}

.footer {
  height: 300px;
  width: 100%;
  min-width: 1200px;
  .nav-bar {
    height: 174px;
    background-color: $light-gray-color;
    border-top: 1px solid $light-gray-border-color;
    .menu {
      @extend .footer-column;
      .link {
        font-size: 16px;
        height: 25px;
      }
    }
    .certified {
      @extend .footer-column;
      .stamps {
        width: 454px;
        height: 129px;
        background-image: url('/images/stamps.png');
        background-size: 454px 129px;
      }
    }
  }
  .bottom-bar {
    height: 90px;
    background-color: $main-color;
    .logo {
      float: left;
      width: 109px;
      height: 26px;
      margin-top: 23.5px;
      margin-left: 131px;
      background-image: url('/images/logo-clear.png');
      background-size: 109px 26px;
    }
    .info {
      float: right;
      font-size: 13px;
      text-align: right;
      color: $clear-color;
      margin-top: 12.5px;
      margin-right: 131px;
      width: 380px;
    }
    .linkedin {
      float: left;
      width: 80px;
      height: 20px;
      margin-top: 31px;
      margin-left: 70px;
      background-size: 70px 10px;
      a {
        display: block;
        width: 80px;
        height: 20px;
        img {
          width: 80px;
          height: 20px;
        }
      }
    }
  }
}
