@import "variables";
@import "functions";

.header {
  min-width: 1200px;
  .content {
    height: 82px;
    @include linear-gradient(to right, $background-color, $light-gray-color, $background-color);
    &:after {
      @extend .absolute-row;
      height: 4px;
      top: 82px;
      @include linear-gradient(to right, $background-color, $main-color, $background-color);
    }
    .logo {
      display: block;
      float: left;
      width: 203px;
      height: 53px;
      margin-left: 12px;
      margin-top: 12px;
      background-image: url('/images/logo.png');
      background-size: 203px 53px;
    }
    .menu {
      float: right;
      list-style: none;
      display: table;
      padding: 0;
      margin: 0;
      ul { padding: 0; }
      > li {
        position: relative;
        line-height: 5em;
        &:hover {
          div {
            display: block;
            visibility: visible;
          }
        }
        div {
          position: absolute;
          z-index: 1000;
          display: none;
          min-width: 200%;
          visibility: hidden;
          background-color: $background-color;
        }
      }
      li {
        display: table-cell;
        text-align: center;
        float: left;
        margin: 0 2em;
        .link {
          margin: 0;
        }
      }
    }
  }
}