@import "variables";

.header {
  .logo {
    float: right;
    margin: 7px auto;
    width: 152px;
    height: 36px;
    background-size: 152px 36px;
    background-image: url('/images/logo.png');
  }
  @media (max-width: $screen-mobile-max-width) {
    position: relative;
    .logo {
      float: none;
    }
  }
}