@import "variables";
@import "functions";

.header {
  min-width: 1200px;
  .content {
    height: 82px;
    @include linear-gradient(to right, $background-color, $light-gray-color, $background-color);
    &:after {
      position: absolute;
      display: block;
      content: '';
      width: 100%;
      height: 4px;
      top: 82px;
      @include linear-gradient(to right, $background-color, $main-color, $background-color);
    }
    .logo {
      float: left;
      width: 275px;
      height: 58px;
      margin-left: 12px;
      margin-top: 12px;
      background-image: url('/images/logo.png');
      background-size: 275px 58px;
    }
    .menu {
      float: right;
      margin-right: 12px;
      > div {
        display: inline-block;
        float: left;
      }
      .title {
        margin-top: 26px;
        padding: 0px 20px;
        text-align: center;
      }
    }
  }
}