@import "variables";

.product-grid {
  display: table;
  padding-bottom: 15px;
  .gallery {
    margin-right: 15px;
    .photo {
      @extend .container;
      display: inline-block;
      float: left;
      cursor: move;
      > div {
        width: 360px;
        height: 360px;
        background-size: 360px;
      }
    }
    .thumbs {
      margin-right: -12px;
      .photo {
        cursor: pointer;
        margin: 12px 12px 0px 0px;
        > div {
          width: 72px;
          height: 72px;
          background-size: 72px;
        }
        &:hover, &.active {
          border-color: darken($light-gray-border-color, 20%);
        }
      }
    }
  }
  .info {
    width: 753px;
    color: $title-color;
    .title {
      font-size: 38px;
    }
  }
  > div {
    display: inline-block;
    vertical-align: top;
  }
}