@import "variables";

.product-box {
  display: table;
  margin: 0 auto;
  padding-bottom: 30px;
  .container {
    float: left;
    width: 454px;
    margin-right: 30px;
    border: 1px solid $light-gray-border-color;
    background-color: $clear-color;
    &:nth-child(2n+0) {
      margin-right: 0px;
    }
    &:nth-child(2n+1) {
      clear: both;
    }
    &:nth-child(n+3) {
      margin-top: 30px;
    }
    > div {
      margin: 5px;
      padding-bottom: 55px;
      border-bottom: 4px solid $main-color;
      background-color: $light-gray-color;
      .photo {
        height: 250px;
        background-size: 444px 250px;
      }
      .description {
        padding: 15px;
        color: $title-color;
        .title {
          font-size: 28px;
        }
      }
      .button {
        float: right;
      }
    }
  }
}