@import "variables";

.product-box {
  display: table;
  margin: 0 auto;
  .container {
    display: inline-block;
    vertical-align: top;
    width: 452px;
    margin-right: 30px;
    &:nth-child(2n+0) {
      margin-right: 0px;
    }
    &:nth-child(n+3) {
      margin-top: 30px;
    }
    > div {
      padding-bottom: 55px;
      border-bottom: 4px solid $main-color;
      .photo {
        height: 250px;
        background: lighten($title-color, 100%) center/contain no-repeat;
      }
      .description {
        padding: 15px;
        color: lighten($title-color, 10%);
        .title {
          font-size: 28px;
        }
      }
      .button {
        float: right;
      }
    }
  }
}