@import "variables";

.product-items {
  display: table;
  margin: 0 auto;
  > div {
    display: inline-block;
    cursor: pointer;
    margin: 0px 20px;
    &:hover {
      .title > span {
        border-bottom-color: $main-color;
      }
    }
    .photo {
      width: 204px;
      height: 204px;
      background: center/contain no-repeat;
    }
    .title {
      text-align: center;
      > span {
        border-bottom: 2px solid $background-color-produc-list;
      }
    }
  }
}