.product-grid {
  display: table;
  padding-bottom: 15px;
  .gallery {
    @extend .container;
    margin-right: 15px;
    width: 370px;
    .photo {
      height: 360px;
    }
  }
  .info {
    width: 753px;
    .title {
      font-size: 38px;
    }
  }
  > div {
    display: inline-block;
    vertical-align: top;
  }
}