@import "variables";
@import "functions";

.section {
  margin: 0 auto;
  padding-bottom: 30px;
  width: 938px;
  > .title {
    position: relative;
    text-align: center;
    padding: 15px 0px;
    > span {
      position: relative;
      padding: 0px 15px;
      background-color: $background-color;
    }
    &:before {
      position: absolute;
      display: block;
      content: '';
      height: 1px;
      width: 100%;
      top: 50%;
      @include linear-gradient(to right, $background-color, darken($light-gray-border-color, 5%), $background-color);
    }
  }
}