@import "variables";

.spinner {
  min-height: 160px;
  > div {
    position: absolute;
    margin: auto;
    padding: 0;
    left: 0;
    right: 0;
    width: 100px;
    height: 100px;
    > .sk-spinner {
      width: 100px;
      height: 100px;
      &.sk-spinner-rotating-plane, .sk-cube {
        background-color: $main-color;
      }
    }
  }
}

.site .spinner > div {
  top: 90px;
  bottom: 248px;
}

.admin .spinner > div {
  top: 51px;
  bottom: 0px;
}