@import "variables";
@import "/styles/css/uikit/uikit.gradient.css";
@import "/styles/css/uikit/components/upload.gradient.css";
@import "/styles/css/uikit/components/form-file.gradient.css";
@import "/styles/css/uikit/components/progress.gradient.css";
@import "/styles/css/uikit/components/placeholder.gradient.css";

.uk-alert {
  padding: 5px;
  background: $light-gray-color;
  border-color: darken($light-gray-color, 8%);
  border-radius: 0px;
  color: $title-color;
}

a.upload-link {
  text-decoration: none !important;
  color: $title-color;
  &:hover {
    color: $main-color;
  }
}

a.uk-form-file {
  text-decoration: none !important;
  color: $main-color;
  margin-top: -1px;
  &:hover {
    color: darken($main-color, 8%);
  }
}

.uk-progress-bar {
  font-family: PTSans-Regular;
  background: $main-color;
  background-image: -webkit-linear-gradient(top, darken($main-color, 8%), $main-color);
  background-image: linear-gradient(to bottom, darken($main-color, 8%), $main-color);
}

.uk-placeholder {
  text-align: center;
  border-color: lighten($title-color, 46%);
  background-color: lighten($title-color, 58%);
  color: $title-color;
}