$background-color: #fcfbfa;
$background-color-produc-list: #fff;
$main-color: #f7941d;
$title-color: #636363;
$clear-color: #fff;
$transparent-black-color: rgba(0, 0, 0, 0.4);
$light-gray-border-color: #e1e1e1;
$light-gray-color: #f5f5f2;
$highlighted-gray-color: #a6a6a6;
$default-text-shadow: 0px 0px 2px $title-color;
$default-text-shadow-banner: 0px 0px 4px $title-color;
$screen-mobile-max-width: 767px;