<nav class="header navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="logo">
        </div>

        <ul class="nav navbar-nav">
           

            <li class="dropdown">
                <a href="#" class="title" data-toggle="dropdown">
                    Cadastros
                    <b class="caret"></b>
                </a>
                <ul class="dropdown-menu">
                <li>
                <a class="title" href="/cms/views/menu">Menu</a>
            </li>

            <li>
                <a class="title" href="/cms/views/banner">Publicidade</a>
            </li>

            <li>
                <a class="title" href="/cms/views/information">Informações</a>
            </li>
                <li>
                    <a class="title" href="/cms/views/product">Categoria</a>
                </li>
                <li>
                    <a class="title" href="/cms/views/ItemSchema">Produto</a>
                </li>
                </ul>
            </li>
        </ul>
    </div>
</nav>

<% include spinner %>