<nav class="header navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="logo">
        </div>

        <ul class="nav navbar-nav">
            <li class="active">
                <a class="title" href="/cms/views/banner">Banner</a>
            </li>
        </ul>
    </div>
</nav>

<% include spinner %>