<nav class="header navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="logo">
        </div>

        <ul class="nav navbar-nav">
            <li>
                <a class="title" href="/cms/views/menu">Menu</a>
            </li>

            <li>
                <a class="title" href="/cms/views/banner">Publicidade</a>
            </li>

            <li>
                <a class="title" href="/cms/views/information">Informações</a>
            </li>
        </ul>
    </div>
</nav>

<% include spinner %>