<meta charset="UTF-8">
<title>Isdralit - CMS</title>
<link rel="stylesheet" type="text/css" href="/styles/css/<%= path %>/<%= name %>.css"/>
<link rel="stylesheet" type="text/css" href="/styles/css/spinner/1-rotating-plane.css"/>
<link rel="stylesheet" type="text/css" href="/styles/css/bootstrap/bootstrap.css"/>