<!DOCTYPE html>
<html>
<head lang="pt-BR">
    <% include ../partials/head %>

</head>
<body class="<%= path %> contact">

<% include ../partials/header %>

<div class="content container-fluid">
    <div class="row">
        <div id="form-contato">

            <% include ../partials/form %>
            </br></br>
            <p style="font-size:160%">Atendimento Comercial: 0800 512 295</p>
        </div>
        <div >
            </br>

            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3454.217298021984!2d-51.23137650000003!3d-30.03062319999999!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9519791027de23e1%3A0x2d8a3e5264809a4!2sIsdralit+Ind%C3%BAstria+e+Com%C3%A9rcio!5e0!3m2!1spt-BR!2sbr!4v1442936761761" width="536" height="320" frameborder="0" style="border:0" allowfullscreen></iframe>
            </br>


            <br>
            <ul>
            <li>
                <p><b>Escritório Central</b></p>

                <p>Rua dos Andradas,1001<br>4º andar</p>

                <p>Centro - Porto Alegre - RS</p>

                <p>CEP 90.020-007</p>

                <p>+55 51 3211.6444</p>
            </li>

            <li>
                <p><b>Fábrica Sapucaia do Sul</b></p>

                <p>Rodovia Federal <br> BR 116 - KM 19</p>

                <p>Rio Grande do Sul</p>

                <p>CEP 93.212-220</p>

                <p>+55 51 3453.8500</p>
            </li>
                <li>

                <p><b>Fábrica Curitiba</b></p>

                <p> Rua Hasdrubal Bellengard, 305</p>

                <p> Paraná</p>

                <p>CEP 81.450-140</p>

                <p> +55 41 2103.2103</p>
            </li>
</ul>


        </div>
    </div>
</div>

<% include ../partials/footer %>

</body>
</html>