<!DOCTYPE html>
<html>
<head lang="pt-BR">
    <% include ../partials/head %>
</head>
<body class="<%= path %>">

<% include ../partials/header %>

<div class="content" data-bind="foreach: { data: institutions, as: 'item' }">
    <div class="section">
        <div class="institution-grid">
            <div data-bind="style: { backgroundImage: item.backgroundImage }"></div>

            <div class="info">
                <div class="title" data-bind="html: item.titleHtml"></div>
                <div class="detail" data-bind="html: item.detailHtml"></div>
            </div>
        </div>
    </div>
</div>

<% include ../partials/footer %>

</body>
</html>